<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoomRental"
        tools:targetApi="31">
        <activity
            android:name=".comman.help.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".comman.about.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".comman.more.MoreActivity"
            android:exported="false" />
        <activity
            android:name=".comman.chat.ChatActivity"
            android:exported="true" />
        <activity
            android:name=".tenant.activity.view.ViewPropertyTenantActivity"
            android:exported="false" />
        <activity
            android:name=".activity.profile.edit.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".landlord.activity.view_property.ViewPropertyLandlordActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".landlord.activity.PropertyMapActivity"
            android:exported="false"
            android:label="@string/title_activity_property_map" />
        <activity
            android:name=".landlord.activity.create_property.CreatePropertyActivity"
            android:exported="false" />
        <activity
            android:name=".tenant.activity.main.TenantMainActivity"
            android:exported="false" />
        <activity
            android:name=".landlord.activity.main.LandlordMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.profile.create.CreateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.general.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.auth.forgotpassword.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.auth.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.auth.login.LoginActivity"
            android:exported="false" />
    </application>

</manifest>